/* * - (all) universal selector*/
* {
	font-family: "Roboto", sans-serif;
}

h1, p{
	font-family: "Montserrat", sans-serif;
}

#landing{
 	height: 80vh;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
} 
#profile{
	height: 250px;
	width: 250px;
	border-radius: 50%;

	border: 5px solid white;
	padding: 15px;
}

body{
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23230046' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232f0052' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%233b075e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2348156a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

footer{
	background-color: black;
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.fa-globe, .fa-facebook, .fa-x-twitter, .fa-square-instagram, .fa-tiktok, .fa-youtube{
	font-size: 25px;
	color: white;
	margin-left: 10px;
	margin-right: 10px;

}

.fa-globe:hover, .fa-facebook:hover, .fa-x-twitter:hover, .fa-square-instagram:hover.fa-tiktok, .fa-youtube:hover{
	color: gray;

}